PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
PUBLIC_CLARITY_PROJECT_ID=xxxxxxxxxx
PUBLIC_GSC_VERIFICATION=your_google_site_verification_token

# A Working Theory / Resend
PUBLIC_SITE_URL=https://www.hanifcarroll.com
RESEND_API_KEY=re_xxxxxxxxx
RESEND_SEGMENT_ID=
RESEND_TOPIC_ID=
RESEND_WELCOME_EVENT=awt_subscribed
NEWSLETTER_TOKEN_SECRET=replace-with-a-long-random-secret
NEWSLETTER_FROM=A Working Theory <hanif@newsletter.hanifcarroll.com>
NEWSLETTER_REPLY_TO=hanif@hanifcarroll.com
