---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageDescription =
    "Explore UX insights and analyses by Hanif Carroll, demonstrating expertise in interaction design and user interface usability. Uncover the critical thinking and principles behind intuitive and effective digital experiences.";
---

<BaseLayout title="Projects | Hanif Carroll" description={pageDescription}>
    <section class="ux-insights-page">
        <div class="container section-padding-block">
            <header class="ux-critiques-header">
                <h2>UX Insights</h2>
                <p>
                    Explore my deep dives into user experience, from detailed
                    interaction deconstructions and usability critiques to
                    conceptual UI redesigns. Discover the principles I apply to
                    make digital products more intuitive, effective, and
                    user-friendly.
                </p>
            </header>

            <section class="ux-insights"></section>
        </div>
    </section>
</BaseLayout>
