---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import FeaturedProjectsSection from "../components/home/FeaturedProjectsSection.astro";
import AboutMeSection from "../components/home/AboutMeSection.astro";
import MyServicesSection from "../components/home/MyServicesSection.astro";
import MyProcessSection from "../components/home/MyProcessSection.astro";

const pageTitle = "Home | Hanif Carroll Web Designer & Developer";
const pageDescription =
    "Explore the work of Hanif Carroll, a web designer & developer focused on building user-centric websites. View projects, services, and contact info here.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
    <HeroSection />

    <FeaturedProjectsSection />

    <AboutMeSection />

    <MyServicesSection />

    <section class="cta-section">
        <div class="container section-padding-block cta-container">
            <h4>Ready to get started?</h4>
            <a href="#contact" class="btn btn-secondary">Let's Chat</a>
        </div>
    </section>

    <MyProcessSection />
</BaseLayout>

<style>
    .cta-section {
        background-color: var(--primary-500);
        color: var(--secondary-500);
    }

    .cta-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
</style>
