---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home | Hanif Carroll Web Designer & Developer";
---

<BaseLayout title={pageTitle}>
    <h1>Welcome!</h1>
    <p>This is the homepage content for my Astro portfolio site.</p>
    <p>
        You can add your introduction, featured projects, etc., here using HTML
        tags.
    </p>
</BaseLayout>
