<section id="featured-projects" class="featured-projects-section">
    <div class="container section-padding-block featured-projects-container">
        <h2>Featured Projects</h2>
    </div>
</section>
