<div class="markdown-content">
    <slot />
</div>

<style is:global>
    .markdown-content {
        max-width: 70ch;
    }

    /* Remove default margins from global styles within markdown */
    .markdown-content h1,
    .markdown-content h2,
    .markdown-content h3,
    .markdown-content h4,
    .markdown-content h5,
    .markdown-content h6 {
        margin-bottom: 0; /* Override global styles */
    }

    .markdown-content h1 {
        margin-bottom: 1.5rem;
    }

    .markdown-content h2 {
        margin-top: 3rem;
        margin-bottom: 1.25rem;
    }

    .markdown-content h3 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    .markdown-content h4,
    .markdown-content h5,
    .markdown-content h6 {
        margin-top: 2rem;
        margin-bottom: 0.75rem;
    }

    .markdown-content p {
        line-height: 1.7;
        margin-bottom: 1.25rem;
    }

    .markdown-content p:last-child {
        margin-bottom: 0;
    }

    /* Keep your other existing styles */
    .markdown-content pre {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .markdown-content a {
        color: var(--primary-500);
        text-decoration: underline;
    }

    .markdown-content ul,
    .markdown-content ol {
        margin-left: 1.5rem;
        margin-bottom: 1.25rem;
    }

    .markdown-content blockquote {
        border-left: 4px solid var(--primary-800);
        padding-left: 1rem;
        color: var(--primary-800);
        margin: 1.5rem 0;
        font-style: italic;
    }

    .markdown-content li {
        line-height: 1.6;
        list-style: inside;
    }

    .markdown-content li:not(:last-of-type) {
        margin-bottom: 0.5rem;
    }

    .markdown-content img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        display: block;
        margin: 2rem 0;
    }
</style>
