---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageDescription =
    "Explore UX critiques and analyses by Hanif Carroll, demonstrating expertise in interaction design and user interface usability. Uncover the critical thinking and principles behind intuitive and effective digital experiences.";
---

<BaseLayout title="Projects | Hanif Carroll" description={pageDescription}>
    <section class="ux-critiques-page">
        <div class="container section-padding-block">
            <header class="ux-critiques-header">
                <h2>UX Critiques</h2>
                <p>
                    Here, I dive deep into the user experience of various
                    applications and websites, focusing on interaction design
                    and usability. My goal is to identify areas of strength and
                    opportunities for improvement, offering actionable insights.
                    Read on to see how I think about creating intuitive and
                    effective digital products.
                </p>
            </header>

            <section class="ux-critiques"></section>
        </div>
    </section>
</BaseLayout>
