---
import "../styles/global.css";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Head from "../components/Head.astro";
import PostHog from "../components/posthog.astro";

export interface Props {
    title: string;
    description: string;
    showFooter?: boolean;
}
const { title, description, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head {title} {description}>
        <PostHog />
    </Head>
    <body>
        <SiteHeader />
        <main class="pt-20 md:pt-[90px]">
            <slot />
        </main>
        {showFooter && <SiteFooter />}
    </body>
</html>