---
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Head from "../components/Head.astro";
import MarkdownRenderer from "../components/MarkdownRenderer.astro";

export interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head {title} {description} />
    <body>
        <SiteHeader />
        <main>
            <section class="container section-padding-block">
                <MarkdownRenderer>
                    <slot />
                </MarkdownRenderer>
            </section>
        </main>
        <SiteFooter />
    </body>
</html>
